* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

.content {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.card-navigation {
    margin: auto 10px;
}

.slide-card {
    position: relative;
    height: 500px;
    transition: 0.5s;
}

.slide-card-center {
    padding: 20px;
    height: 100vh;
}

.slide-card .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    overflow: hidden;
    content: '';
    clip-path: circle(100px at center);
    transition: 0.5s;
}

.slide-card:hover .background {
    clip-path: circle(400px at center);
}

.slide-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    pointer-events: none;
    transition: 0.5s;
}

.slide-card:hover img {
    top: 65%;
    left: 60%;
}

.slide-card .details {
    position: relative;
    /* width: 100%; */
    padding: 15px;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
}

.slide-card:hover .details {
    transition: 0.5s;
    left: 0;
    opacity: 1;
    visibility: visible;
}

.slide-card .details h2 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 5px;
}

.slide-card .details p {
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
}

.slide-card .details a {
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FFF;
    color: #000;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.navigation {
    list-style: none;
    background-color: #1c1c22;
    border-bottom: 3px solid #d2bb8d;
    display: flex;
}

.img-nav {
    height: 120px;
    cursor: pointer;
    margin: auto;
}

::-webkit-scrollbar {
    width: 0px;
}

@media only screen and (min-width: 425px) {
    .slide-card:hover img {
        top: 60%;
        left: 65%;
        height: 400px;
    }

    .slide-card {
        width: 370px;
        margin: auto;
    }

    .slide-card img {
        height: 400px;
    }
}

@media only screen and (min-width: 768px) {
    img.img-nav {
        height: 140px;
    }

    li.card-navigation {
        margin: auto 20px;
    }

    div.slide-card {
        width: 550px;
        height: 320px;
        margin: auto;
        top: 15%;
    }

    div.slide-card img {
        height: 450px;
    }

    div.slide-card .background {
        clip-path: circle(125px at center);
    }

    div.slide-card:hover img {
        top: 50%;
        left: 80%;
        height: 500px;
    }
}

@media only screen and (min-width: 1024px) { 
    div.card {
        width: 80%;
        height: 100%;
        float: right;
    }

    ul.navigation {
        width: 20%;
        height: 100%;
        display: inline-block;
        left: 0;
        position: absolute;
        border: none;
        border-right: 3px solid #d2bb8d;
    }

    div.slide-card {
        width: 650px;
        height: 350px;
        margin: auto;
        top: 20%;
    }

    div.slide-card .background {
        clip-path: circle(160px at center);
    }

    div.slide-card img {
        height: 550px;
    }

    img.img-nav {
        height: 200px;
    }

    div.slide-card:hover img {
        height: 620px;
    }

    .slick-list {
        height: 100vh !important;
    }
}

@media only screen and (min-width: 1440px) { 
    ul.navigation {
        width: 15%;
    }

    div.card {
        width: 85%;
    }
}


/*
         secondary main
COLORS   OPACITY   NOT OPACITY
ANEMO:   #92D0C9   #26A193
PYRO:    #DD9192   #BD2628
ELECTRO: #B6A8DB   #6D51B8
CYRO:    #BFD5E9   #80ACD2
HYDRO:   #90C7DD   #228FBB
GEO:     #EACA9A   #D59536
DENDRO:  #A7CBB0   #519963
*/